#card {
    border:solid rgb(226, 226, 226);
    border-radius: 20px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    width: 50%;
    margin-left:auto;
    margin-right:auto;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 12px;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');


h1 {
font-family: 'Raleway', sans-serif;
}

h1 a {
    text-decoration: none;
text-color: black; 
}

#details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}