body {
    font-family: 'Roboto', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;


  }
  
  h1, h2 ,h3, h4, p{
    margin: 10;
    padding: 10;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
  }
  
  nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    
  }

nav ul li{
    font-family: 'Roboto', sans-serif;
  display: inline-block;
  padding: 5px;
  padding-top: 15px;
}

section {
    border: solid rgb(235, 235, 235);
    padding: 1px;
    width: 60vw;
    border-radius: 10px;
    
    overflow: auto;
    height: 60vh;
  }

  footer {
    position: absolute; 
    text-align: right;
    bottom: 1rem;
    right: 2rem;
    font-size: 1rem;
  }

  .btn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    padding: 4px 12px;
    border: solid black;
    border-radius: 50px;
    text-align: center;
    font-weight:bolder;
    width: 140;
    font-family: 'Roboto', sans-serif;
  }

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding-top: 0rem;
}

  form input {
      padding: 10px;
      width: 90%;
      margin:1rem;
      font-size: 1rem;
      border: none;
      font-family: 'Roboto', sans-serif;
      
  }
  
  .btn:hover {
    background-color: black;
    color: white;
  }

  #content {
      height: 100;
      overflow: visible;
  }

  form textarea {
    padding: 10px;
    width: 90%;
    margin:1rem;
    font-size: 1rem;
    border: none;
    resize: none;
    padding-top: 5px;
    height: 100;
    font-family: 'Roboto', sans-serif;
}

#posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#posts div {
    margin:1rem;
    border: solid rgb(235, 235, 235);
    padding: 2px;
    border-radius: 15px;
    width: 35vw;
    
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

#form-sect {
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#posts-sect {
  display: flex;
    flex-direction: column;

    align-items: center;

}

/* Scrollbar Edit  */
/* width */
::-webkit-scrollbar {
  width: 0.6rem;
}

/* Track */
::-webkit-scrollbar-track {
margin-right: 5px;
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(201, 201, 201); 
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(148, 148, 148); 
}