{% extends "adoption/base.html" %}

{% block content %}
    <h1>Welcome to the Shelter!</h1>
    Here are all our friends!
    <ul id="dogs-container">
        {% for dog in doggos %}
            <li>
                <a href="{% url 'dog-show' dog_id=dog.id %}">
                    {{ dog.name }}
                </a>
                {% if dog.owner %} <span class="helptext">(adopted)</span> {% endif %}
            </li>
        {% endfor %}
    </ul>
    
   
    <a href="{% url 'dog-create' %}"> <button>Add new dog</button></a>
{% endblock content %}