[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
psycopg2 = "*"
django-taggit = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
dev = "sh -c './manage.py runserver'"
