[submodule "LAP_2_Code_Challenge_Server"]
	path = LAP_2_Code_Challenge_Server
	url = https://github.com/Shavvimal/LAP_2_Code_Challenge_Server
[submodule "LAP_2_Code_Challenge_Client"]
	path = LAP_2_Code_Challenge_Client
	url = https://github.com/Shavvimal/LAP_2_Code_Challenge_Client
